body {
    background-color: #2c3e50;
    color: #ecf0f1;
}

a {
    color: #85bdff;
}

h1, h2, h3, h4, h5, h6 {
    color: #ecf0f1;
}

/* Styling for code blocks */
pre, code {
    background-color: #242f39; /* Darker background for code chunks */
    color: #d6d6d6; /* Soft yellow for text, good for contrast */
}

pre {
    border: 1px solid #7f8c8d; /* Subtle border around code blocks */
}

/* Styling for inline code */
p code {
    background-color: #242f39; /* Slightly different background for inline code */
    color: #82ccdd; /* Light blue for inline code text */
    border: 1px solid #4e5a5b !important;
}

p {
  font-weight: 300 !important;
}

li {
  font-weight: 300 !important;
}

/* Optional: Syntax Highlighting Styles */
/* Adjust colors for syntax highlighting, if you're using a library like Highlight.js */
.hljs-comment, .hljs-quote {
    color: #7f8c8d; /* Making comments less prominent */
}

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-title, .hljs-section, .hljs-doctag {
    color: #ff79c6; /* Pink for keywords */
}

.hljs-string, .hljs-meta .hljs-meta-string {
    color: #f1fa8c; /* Light yellow for strings */
}

.hljs-name, .hljs-type, .hljs-attribute, .hljs-symbol, .hljs-bullet {
    color: #8be9fd; /* Sky blue for types and attributes */
}

.hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
    color: #50fa7b; /* Green for variables */
}

.hljs-comment, .hljs-deletion, .hljs-number {
    color: #bd93f9; /* Purple for numbers and deletions */
}

pre:not([class]) {
    background-color: #324f69; /* Slightly different background for inline code */
}

.note-box {
  border: 1px solid #2780e3; /* Lighter border color for visibility */
  background-color: #2a495f !important; /* Dark background */
  color: #9bcaef; /* Light text color */
}

.note-box strong, .note-box b {
  color: #4793d5; /* Gold color for bold text */
}

.note-box a {
  color: #35ffcf; /* Gold color for bold text */
}

.note-box a:hover {
  color: #2780e3; /* Gold color for bold text */
  transition: .2s;
}

/* Dropdown Links */
.dropdown-menu {
  background-color: #233240; /* Light background for the dropdown */
  border-radius: 4px; /* Rounded corners */
}

.table caption {
  color: #ecf0f1;
  padding: 10px;
}

.table thead tr th {
  background-color: #1d2935  !important; /* Dark background for header */
  color: #ecf0f1; /* Pale text for header */
}

.table tbody tr:nth-child(odd) {
  background-color: #3c5772; /* Darker stripe for odd rows */
}

.table tbody tr:nth-child(even) {
  background-color: #2b4056; /* Lighter stripe for even rows */
}

.table-striped.table-hover td {
  color: #ecf0f1;
}

.table-striped.table-hover th {
  color: #ecf0f1;
}
