.navbar-default {
    background-color: #1e2b38;
    border-color: #121212;
}

.navbar-brand {
  padding: 10px 15px;
  height: 60px;
}

.navbar-nav>li {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav>li>a {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    width: 120px;
    justify-content: center;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #449cff;
  background-color: transparent;
  transition: .2s;
}

.dropdown-menu {
  background-color: #f9f9f9; /* Light background for the dropdown */
  border-radius: 4px; /* Rounded corners */
}

.navbar .dropdown-menu {
  position: absolute;
  left: 50%; /* Move to 50% of its parent width */
  width: 250px;
  transform: translateX(-50%); /* Shift it back by 50% of its own width */
  top: 100%; /* Position it just below the toggle element */
}

/* Center and wrap text within dropdown menu items */
.navbar .dropdown-menu .dropdown-item {
  text-align: center; /* Center the text */
  white-space: normal; /* Ensure text wraps */
}

/* Dropdown Links */
.dropdown-menu>li>a {
  color: #fff; /* Dark text for contrast */
  text-align: center; /* Centers text horizontally */
  display: block;
  width: 250px;
  padding: 10px 20px; /* Adjust padding as needed */
  white-space: normal; /* Allows text to wrap */
  overflow: hidden; /* Prevents text from overflowing the container */
  text-overflow: ellipsis; /* Adds an ellipsis to text that's too long */
}

/* Hover State for Dropdown Links */
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #2780e3; /* Light text on hover/focus */
  background-color: transparent; /* Highlight color */
  text-decoration: none; /* No underline */
  transition: .2s;
}

.navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  position: absolute;
  left: 50%; /* Start at the middle of the parent */
  transform: translateX(-50%); /* Adjust back by half of its own width */
  background-color: #233240;
  top: 100%; /* Adjust if needed, depending on your layout */
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-nav .open .dropdown-menu>li>a:focus {
    color: #2780e3;
    background-color: transparent;
    transition: .2s;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 15px;
}

/* Basic switch styling */
.switch {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1000;
  display: inline-block;
  width: 60px; /* Adjusted for clear visibility of emojis */
  height: 25px;
}

/* Hide the default checkbox */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider styling */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* No background color */
  border: 2px solid #ccc; /* Grey edge */    
  transition: .2s;
  border-radius: 34px;
}

.slider::before, .slider::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; /* Adjust size as needed */
}

/* Moon emoji */
.slider::before {
  content: '🌜';
  left: 0px; /* Adjust as needed */
  height: 25px;
  opacity: 0; /* Hide initially */
}

/* Sun emoji */
.slider::after {
  content: '🌞';
  right: 0px; /* Adjust as needed */
  height: 25px;
  opacity: 1; /* Show initially */
}

/* Toggle circle styling */
.slider span {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc; /* No background color */
  transition: .2s;
  border-radius: 50%;
}

/* Adjust emoji visibility on toggle */
input:checked + .slider::before {
  opacity: 1; /* Show moon emoji */
}

input:checked + .slider::after {
  opacity: 0; /* Hide sun emoji */
}

input:checked + .slider span {
  transform: translateX(26px); /* Move toggle circle */
}

h1.title {
  font-size: 32px;
  font-weight: 700;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-weight: 300;
}

/* Styling for code blocks */
pre, code {
    border-radius: 5px; /* Optional: rounded corners for aesthetic */
}

pre {
    padding: 10px;
    overflow-x: auto; /* Makes code blocks scrollable horizontally if needed */
}

/* Styling for inline code */
p code {
    padding: 2px 4px;
    border-radius: 5px;
}

.tocify .list-group-item {
  background-color: transparent !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #2780e3 !important;
}

.note-box {
  border: 1px solid #2780e3;
  padding: 10px;
  margin: 20px 0;
  background-color: #f0f9ff;
  border-radius: 5px;
}

.note-box p {
  margin-bottom: 0px; /* Adjusts the bottom margin of paragraphs */
}

.note-box strong, .note-box b {
  color: #2780e3; /* Gold color for bold text */
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Adjusts the spacing between the buttons */
    align-items: center; /* Aligns the buttons vertically in the center, if they have different heights */
}

.button {
    display: inline-block;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center;
    text-decoration: none; /* Removes underline from the link */
    border-radius: 5px; /* Rounded corners for the button */
    margin: 0 5px; /* Optional: Adds space between the buttons */
}

.inline_button {
    display: inline-block;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center;
    text-decoration: none; /* Removes underline from the link */
    border-radius: 5px; /* Rounded corners for the button */
    margin: 0 5px; /* Optional: Adds space between the buttons */
}

.inline_button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 1px 10px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.shallow-break {
    height: 5px; /* Adjust this value to control the spacing */
}

.caption {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0px;
    color: black;
}

.logo-img {
  margin-top: 0px;
}

.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap; 
}

.rounded-image-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
}

.rounded-image-container img {
    width: 100%; /* Make the image responsive */
    display: block; /* Remove bottom space under the image */
}
