h1.title {
  font-size: 32px;
  font-weight: 700;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-weight: 300;
}

.tocify .list-group-item {
  background-color: transparent !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #2780e3 !important;
}

.note-box {
  border: 1px solid #2780e3;
  padding: 10px;
  margin: 20px 0;
  background-color: #f0f9ff;
  border-radius: 5px;
}

.note-box p {
  margin-bottom: 0px; /* Adjusts the bottom margin of paragraphs */
}

.note-box strong, .note-box b {
  color: #2780e3; /* Gold color for bold text */
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Adjusts the spacing between the buttons */
    align-items: center; /* Aligns the buttons vertically in the center, if they have different heights */
}

.button {
    display: inline-block;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center;
    text-decoration: none; /* Removes underline from the link */
    border-radius: 5px; /* Rounded corners for the button */
    margin: 0 5px; /* Optional: Adds space between the buttons */
}
