h1.title {
  display: none;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

p {
  font-weight: 300;
}

.caret {
  margin-left: 10px; /* Adjust the value as needed */
}

.tocify .list-group-item {
  background-color: transparent !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #2780e3 !important;
}
