config_used/
pipeline/resources/*
!pipeline/resources/software/prscs
!pipeline/resources/data/prscs_ref/1kg/ldblk_1kg_eur/ldblk_1kg_chr23.hdf5
!pipeline/resources/data/prscs_ref/1kg/ldblk_1kg_eur/snpinfo_1kg_hm3
pipeline/.snakemake/
pipeline/test_data/
pipeline/logs/*
pipeline/private/
.Rproj.user
