/* styles.css */
.navbar {
  min-height: 80px; /* Set the minimum height of the navbar */
}
    
.navbar .nav.navbar-nav li {
  margin: 15px 0; /* Adjust vertical spacing for buttons */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
  background-color: #f5f5f5; /* Light grey background color */
}